OPENAI_API_KEY=
SECRET_KEY=
ALMAH_USUARIO=
ALMAH_SENHA=

# Opcional
ALMAH_BASE_URL=https://guerreirocondominios.almahcondos.com.br
HEADLESS=false
DRY_RUN=true
SLOW_MO_MS=2000
MEGA_OUTPUT_DIR=%USERPROFILE%\Documents\MEGA\Meka-RPA\Output
