# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/

# Virtualenv
venv/
.venv/
env/

# Build
build/
dist/
*.spec

# PyInstaller
*.manifest

# VS Code
.vscode/

# JetBrains
.idea/

# Logs
*.log

# Banco temporário
*.db-journal

# Sistema
.DS_Store
Thumbs.db